examples/event-demo.json
[{"id":"24a72f57.5327e8","type":"inject","z":"6f10feeb.9097f8","name":"start/stop","topic":"control","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["371a8a7f.53a956"]]},{"id":"2cc4ce7e.b0853a","type":"debug","z":"6f10feeb.9097f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"delay","x":430,"y":60,"wires":[]},{"id":"371a8a7f.53a956","type":"event","z":"6f10feeb.9097f8","name":"","controlTopic":"control","meanInterval":"1","distribution":"exponential","minInterval":"1","maxInterval":"2","outputTopic":"event","outputPayload":"timestamp","x":270,"y":80,"wires":[["2cc4ce7e.b0853a","4a1659df.b68d"]]},{"id":"bf964625.93036","type":"debug","z":"6f10feeb.9097f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":100,"wires":[]},{"id":"4a1659df.b68d","type":"change","z":"6f10feeb.9097f8","name":"mean","rules":[{"t":"set","p":"topic","pt":"msg","to":"data/mean","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["124accec.44cf1b"]]},{"id":"124accec.44cf1b","type":"statistics","z":"6f10feeb.9097f8","name":"mean delay","dataSetSize":0,"inputField":"delay","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"payload","stripFunction":false,"resultOnly":true,"x":570,"y":100,"wires":[["bf964625.93036"]]},{"id":"d9a3ebaf.c283b","type":"inject","z":"6f10feeb.9097f8","name":"clear","topic":"clear","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":140,"wires":[["124accec.44cf1b"]]}]