examples/event-demo.json
[{"id":"736c96e8.5b772","type":"inject","z":"3ab2cdb4.c961ba","name":"toggle","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":170,"y":180,"wires":[["5c3b1ea5.d3edf8"]]},{"id":"3c87bd13.713992","type":"debug","z":"3ab2cdb4.c961ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"5c3b1ea5.d3edf8","type":"event","z":"3ab2cdb4.c961ba","name":"","controlTopic":"control","startCmd":"start","stopCmd":"stop","meanInterval":"1","distribution":"exponential","minInterval":"1","maxInterval":"2","outputTopic":"event","outputPayload":"timestamp","x":310,"y":140,"wires":[["3c87bd13.713992","dc35f49a.c99fd8"]]},{"id":"c71c5964.dce538","type":"debug","z":"3ab2cdb4.c961ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":160,"wires":[]},{"id":"dc35f49a.c99fd8","type":"change","z":"3ab2cdb4.c961ba","name":"mean","rules":[{"t":"set","p":"topic","pt":"msg","to":"data/mean","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["3a9f469.02cbb3a"]]},{"id":"3a9f469.02cbb3a","type":"statistics","z":"3ab2cdb4.c961ba","name":"mean delay","dataSetSize":0,"inputField":"delay","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"payload","stripFunction":false,"resultOnly":true,"x":610,"y":160,"wires":[["c71c5964.dce538"]]},{"id":"d9f044d3.0c2c28","type":"inject","z":"3ab2cdb4.c961ba","name":"clear","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clear","payload":"","payloadType":"date","x":450,"y":200,"wires":[["3a9f469.02cbb3a"]]},{"id":"d8afe4cd.65a53","type":"inject","z":"3ab2cdb4.c961ba","name":"start","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"start","payloadType":"str","x":170,"y":100,"wires":[["5c3b1ea5.d3edf8"]]},{"id":"c4ce78c3.2705f8","type":"inject","z":"3ab2cdb4.c961ba","name":"stop","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"stop","payloadType":"str","x":170,"y":140,"wires":[["5c3b1ea5.d3edf8"]]}]