examples/event-demo.json
[{"id":"d8afe4cd.65a53","type":"inject","z":"3ab2cdb4.c961ba","name":"start","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"start","payloadType":"str","x":110,"y":100,"wires":[["d9a4374d.0bbd88"]]},{"id":"d9a4374d.0bbd88","type":"event","z":"3ab2cdb4.c961ba","name":"","controlTopic":"control","startCmd":"start","stopCmd":"stop","distribution":"gaussian","expMeanInterval":1,"minInterval":"3","maxInterval":"2","gaussMeanInterval":"1","stdDev":"1","outputTopic":"event","outputPayload":"","outputPayloadType":"date","maxEventCount":"0","x":270,"y":140,"wires":[["3c87bd13.713992","dc35f49a.c99fd8","397a37ad.9405"]]},{"id":"736c96e8.5b772","type":"inject","z":"3ab2cdb4.c961ba","name":"toggle","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":110,"y":180,"wires":[["d9a4374d.0bbd88"]]},{"id":"c4ce78c3.2705f8","type":"inject","z":"3ab2cdb4.c961ba","name":"stop","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"stop","payloadType":"str","x":110,"y":140,"wires":[["d9a4374d.0bbd88"]]},{"id":"3c87bd13.713992","type":"debug","z":"3ab2cdb4.c961ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"dc35f49a.c99fd8","type":"change","z":"3ab2cdb4.c961ba","name":"mean","rules":[{"t":"set","p":"topic","pt":"msg","to":"data/mean","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":120,"wires":[["3a9f469.02cbb3a"]]},{"id":"397a37ad.9405","type":"change","z":"3ab2cdb4.c961ba","name":"std dev","rules":[{"t":"set","p":"topic","pt":"msg","to":"data/standardDeviation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["82828e49.119bd"]]},{"id":"3a9f469.02cbb3a","type":"statistics","z":"3ab2cdb4.c961ba","name":"mean delay","dataSetSize":0,"inputField":"delay","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":false,"x":630,"y":140,"wires":[["c71c5964.dce538"]]},{"id":"82828e49.119bd","type":"statistics","z":"3ab2cdb4.c961ba","name":"delay std. dev.","dataSetSize":0,"inputField":"delay","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":640,"y":180,"wires":[["1b5aa90c.499c8f"]]},{"id":"c71c5964.dce538","type":"debug","z":"3ab2cdb4.c961ba","name":"mean","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"d9f044d3.0c2c28","type":"inject","z":"3ab2cdb4.c961ba","name":"clear","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clear","payload":"","payloadType":"date","x":470,"y":160,"wires":[["3a9f469.02cbb3a","82828e49.119bd"]]},{"id":"1b5aa90c.499c8f","type":"debug","z":"3ab2cdb4.c961ba","name":"std. dev.","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":800,"y":180,"wires":[]}]